<title>jinjatime</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
<h1>Someone say jinja2</h1>
</nav>
<p>I love equations!<p>
  
  <br>
  <form action="/gen_card" method="post">
    <div class="flash">
      <table class="table">
      <tr><td>Name:</td> <td><input type="text" name="name"></td></tr>
      <tr><td>Organisation:</td> <td><input type="text" name="org"></td></tr>
      <tr><td>Phone:</td> <td><input type="text" name="phone"></td></tr>
      <tr><td>Email:</td> <td><input type="text" name="email"></td></tr>
      <table>
	<input type="submit" value="Create">
    </div>
</form>
